<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is my first project</h1>
    <P
      >////////////////////////////////////////////////// Good morning. My name
      is Sachin Tyagi, and I am from Dholpur, Rajasthan. I am pursuing a B.Tech
      in Computer Science and Engineering from GLA University, Mathura. I have
      completed online web development internships at CodSoft and InternPe,
      where I worked with HTML, CSS, and JavaScript and developed projects like
      a calculator, a landing page, and a college event ticket booking website.
      I have also solved coding problems on LeetCode and GeeksforGeeks. I have
      completed a Value Added Course on Web Development from JOVAC and an Udemy
      certification on Build Responsive Real-World Websites with HTML and CSS. I
      have started the Campus to Corporate Training Program to prepare for
      placements. My goal is to keep learning, improve my skills step by step,
      and contribute to the organization. Thank you.
    </P>
    <button>click me!</button>
  </body>
</html>
